.btn {
    // :link is a pseudo-class. pseudo-class are special states of a selector
    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem; // 2 values: top-bottom left-right or  4 values: top,right,bottom,left
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s ease;
        position: relative;

        animation-name: moveUp;
        animation-duration: 2s;

        // change for the <button> element
        border:none;
        cursor: pointer;
    }

    &:hover { 
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }
    // when we click an element it goes to active state
    &:active,
    &:focus { // focus is for button
        outline: none; // for button
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;
    }
    // pseudo-elements : virtual elements used to provide extra effects to an element
    /*
    .btn::after {
        content: "";
        display: inline-block;
        height: 100%; -- 100% of height of button 
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; -- defines the position of the elements one over other 
    }

    .btn-white::after {
        background-color: #fff;
    }*/

}


.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $color-primary;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .3s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        transform: translateY(1px);
    }
}