body {
    font-family: 'Lato', sans-serif;
    font-weight: 400; // Defines boldness of font
    font-size: 1rem;
    line-height: 1.7;
    color: $color-grey-dark;
    // padding: 30px; -since converting this to rem
    padding: 3rem;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; // helps to remove distortion during animation

    margin-bottom: 2rem;

    &--main {
        display: block; // adds breaks before and after the element
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
    
        /* 
        animation-timing-function: ease / ease-in / ease-out / etc. -- specifies what should be the spped of the animation
                                                                    ease-out: initially fast and then gets slow
        animation-iteration-count: 3; -- number of times the animation should happen
        animation-delay: 3s; -- waits till the time specified and then it animates
        */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation-name: moveInRight;
        animation-duration: 2s; }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(5deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,0.2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}